* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

#tipo-pessoa {
    margin-top: 10px;
    margin-left: 2px;
    width: 20%;
}

#botao {
    padding-top: 20px;
}

label,
#inputs,
#fisica,
#juridica,
#botao,
#mostrar,
#next {
    cursor: pointer;
}