        body {
            background: rgb(40, 70, 70);
        }
        
        #menu-fixo {
            background: rgb(76, 129, 138);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }
        
        #itens-menu {
            margin: 0%;
            list-style-type: none;
        }
        
        li {
            margin: 0;
            padding: 15px 20px;
            display: inline-block;
        }
        
        a {
            color: black;
            text-transform: uppercase;
            text-decoration: none;
        }
        
        li {
            transition: .2s;
        }
        
        li:hover {
            transition: .2s;
            background: rgb(130, 177, 216);
            border-radius: 2px;
        }